.gridmoneyContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    direction: rtl;
    gap: 20px;
}

.smallMoneyBox {       
    border-radius: 5px;
    border-left: 5px solid red;
    width: 80px;   
    height: 40px;  
    padding: 0 0 0 10px;   
    margin: 0;
}

.moneyTitle {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}

.smallNumber {  
    font-size: 1rem;  
    font-weight: bold;
    padding: 0;
    margin: 0;
}