    @media (max-width: 950px ) {
    
    .PieContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        direction: ltr;
        gap: 20px;
        margin-top: 20px;

    }

    }

    @media (max-width: 600px) {
        .mediaNoneFLex {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }